---
import { slugify, formatDate } from "../js/utils";

const { relatedPosts } = Astro.props;
---

{
  relatedPosts.map(({ url, frontmatter }) => (
    <div class="post">
      <h3 class="h4">
        <a href={url}>
          <span>{frontmatter.title}</span>
        </a>
      </h3>
      <small>
        by{" "}
        <a href={`/author/${slugify(frontmatter.author)}/`}>
          {frontmatter.author}
        </a>{" "}
        • {formatDate(frontmatter.date)}
      </small>
    </div>
  ))
}
